{% extends "base.html" %}
{% load static %}

{% block content %}<figure>
            <img alt="Nothing here" src="{% static 'images/nothing_here.gif' %}" width="1024" height="522" />
          </figure>
          <p>The content you are looking for is not available. Try <a href="{% url 'art:search' %}">searching</a> for it or browsing the <a href="{% url 'art:artists' %}">Artists</a> and <a href="{% url 'art:artwork' %}">Artwork</a> pages.</p>{% endblock %}