{% extends "base.html" %}

{% block content %}<p>This is a demo site demonstrating the utility of the Django web framework. The project consists of two apps:</p>
          <ol>
            <li><strong>pages</strong><br />An app to manage the generic pages of the site.</li>
            <li><strong>art</strong><br />An app dedicated to showcasing select artists and their artwork.</li>
          </ol>{% endblock %}