{% extends "base.html" %}

{% block content %}<p>Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of web development, so you can focus on writing your app without needing to reinvent the wheel. It's free and open source.</p>
          <ul>
            <li><strong>Ridiculously fast.</strong><br \>Django was designed to help developers take applications from concept to completion as quickly as possible.</li>
            <li><strong>Reassuringly secure.</strong><br />Django takes security seriously and helps developers avoid many common security mistakes.</li>
            <li><strong>Exceedingly scalable.</strong><br />Some of the busiest sites on the web leverage Django’s ability to quickly and flexibly scale.</li>
          </ul>
          <p>Django makes it easier to build better web apps more quickly and with less code.</p>{% endblock %}