/* Imports */
@import url('normalize.css');

/*---------------------------------------------------------
  Table of Contents

  1. HTML Styles
  2. Body Styles
  3. Header Styles
  4. Main Styles
  5. Footer Styles
  6. Phone/Tablet Media Query
  7. Phone Media Query
  8. Tablet/Desktop/Laptop Media Query
  9. Tablet Media Query
  10. Desktop/Laptop Media Query
-------------------------------------------------------- */

/*---------------------------------------------------------
  1. HTML Styles
-------------------------------------------------------- */
/* CSS Variables */
:root {
  /* || Base Colors */
  --black: #000000;
  --l1-black: #0e1117;
  --l2-black: #1d232f;

  --grey: #698596;
  --l1-grey: #879dab;
  --l2-grey: #a5b6c0;

  --blue: #1f4260;
  --l1-blue: #2c5c87;
  --l2-blue: #3877ad;
  --l3-blue: #5290c7;

  --gold: #ffd343;
  --l1-gold: #ffd54d;
  --l2-gold: #ffdb66;

  /* || Background Colors */
  --bg-color: var(--l1-black);

  --bg-hdr-color: var(--blue);
  --bg-hdr-grad-color: var(--l1-blue);

  --bg-code-color: #232629;
  --bg-sel-color: var(--text-color);
  --bg-bq-color: var(--l1-blue);
  --bg-bq-grad-color: var(--l2-blue);
  --bg-tbl-row-color: var(--l2-blue);

  --bg-form-color: var(--l2-black);

  --bg-ftr-color: var(--l1-black);
  --bg-wgt-color: var(--black);
  --bg-wgt-grad-color: var(--l2-black);

  --bg-mbl-menu-color: var(--blue);

  /* || Border Colors */
  --bd-subtl-color: var(--gold);
  --bd-subtl-color-s: var(--l2-gold);
  --bd-subtl-color-e: var(--gold);

  --bd-wgt-grad-color-s: var(--l1-blue);
  --bd-wgt-grad-color-m: var(--l3-blue);
  --bd-wgt-grad-color-e: var(--text-color);

  /* || Text Colors */
  --text-color: #ffffff;
  --hdg-dec-color: var(--grey);
  --hdg-wgt-dec-color: var(--l2-grey);
  --text-sel-color: var(--bg-color);

  /* || Link Colors */
  --lk-color: var(--text-color);
  --lk-dec-color: var(--gold);

  /* || Text Styles */
  --hdg-dec-thk: 0.1rem;
  --hdg-wgt-dec-thk: 0.09rem;

  /* || Link Styles */
  --lk-dec-style: solid;
  --lk-dec-thk: 0.13rem;

  /* || Separator Colors */
  --sep-s-color: var(--text-color);
  --sep-m-color: var(--l3-blue);
  --sep-e-color: var(--l1-blue);
}

/* Set HTML line height */
html {
  line-height: 1.5;
}

/* Set html and body properties */
html, body {
  width: 100%;
  height: 100%;
}

/*---------------------------------------------------------
2. Body Styles
-------------------------------------------------------- */
/* Body properties */
body {
  background-color: var(--bg-color);
}

#body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

/* Header, main, and footer properties */
#header, #main, #footer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* Font properties */
canvas, cite, data, datalist, del, dfn, em, i, ins, kbd, label, noscript,
q, ruby, s, samp, select, slot, small, strong, sub, sup, template,
textarea, time, var, video, address, blockquote, details, dialog, div, dd, dl,
dt, fieldset, figcaption, figure, form, h1, h2, h3, h4, h5, h6, hgroup, hr,
li, ol, p, table, ul {
  color: var(--text-color);
  overflow-wrap: break-word;
  font-family: sans-serif;
}

/* Font size */
dd, dt, li, p, pre, span, summary, form, .indicator {
  font-size: 1.1rem;
}

/* Code properties */
code {
  color: var(--text-color);
  background-color: var(--bg-code-color);
}

pre {
  color: var(--text-color);
  overflow-wrap: break-word;
  overflow: auto;
  /* Firefox scrollbar properties */
  scrollbar-width: auto;
  scrollbar-color: white gray; /* Scroll thumb and track color */
}

.code-block {
  background-color: var(--bg-code-color);
}

/* Selection properties */
::selection {
  background-color: var(--bg-sel-color);
  color: var(--text-sel-color);
}

input::selection {
  background-color: black;
  color: var(--bg-sel-color);
}

/* Link properties  */
a {
  color: var(--lk-color);
  text-decoration-line: underline;
  text-decoration-color: var(--lk-dec-color);
  text-decoration-style: var(--lk-dec-style);
  text-decoration-thickness: var(--lk-dec-thk);
}

/* Properties for links descended from headings */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration-line: none;
}

/* Select properties */
select {
  color: black;
}
/*---------------------------------------------------------
3. Header Styles
-------------------------------------------------------- */
/* Header properties */
#body > header:first-child {
  background-color: var(--bg-hdr-color);
  border-bottom: 0.06rem solid #000000;
}

#header a {
  text-decoration-line: none;
}

/* Titles properties */
#titles {
  text-align: center;
}

/* Title properties */
#title {
  margin-bottom: 0.38rem;
}

/* Subtitle properties */
@keyframes pulse {
  0% {
    border-top-color: var(--bd-subtl-color-s);
  }
  100% {
    border-top-color: var(--bd-subtl-color-e);
  }
}

#subtitle {
  display: inline-block;
  margin-bottom: 1.1rem;
  padding: 0.38rem;
  background-color: var(--black);
  border-top: 0.19rem solid var(--bd-subtl-color);
  border-radius: 0.38rem;
}

.home #subtitle {
  /* name duration iteration-count fill-mode */
  animation: pulse 5s 1 forwards;
}

/* Search and feed properties */
#search-feed {
  margin-top: -1.1rem;
  font-weight: 600;
}

/* Main menu properties */
#main-menu {
  display: inline-grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto;
  color: var(--text-color);
  margin-bottom: 1.1rem;
}

#main-menu .menu-item {
  font-size: 1rem;
}

#main-menu .menu-dot {
  margin: 0 0.5rem;
}
/*---------------------------------------------------------
4. Main Styles
-------------------------------------------------------- */
/* Main properties */
#main {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

#main > *:first-child {
  margin-top: 0 !important;
}

#main > h2:first-child, #main > p:first-child {
  margin-top: -0.6rem !important;
}

#main > *:last-child {
  margin-bottom: 0 !important;
}

/* Headings properties */
h2 {
  font-size: 1.5rem;
  text-decoration-line: underline;
  text-decoration-style: double;
  text-decoration-color: var(--hdg-dec-color);
  text-decoration-thickness: var(--hdg-dec-thk);
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.1rem;
}

/* Figure properties */
figure {
  margin: 1rem 0;
}

/* Figure caption properties */
figcaption {
  text-align: center;
}

/* Image properties */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 0.31rem;
}

/* Table wrapper properties */
#table-wrapper {
  max-height: 50rem;
  overflow: auto;
}

/* Table properties */
table {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
  border-bottom: 0.19rem solid var(--black);
  font-size: 1.1rem;
}

/* Table caption properties */
caption {
  padding: 0.75rem 0 0.63rem 0;
  background-color: var(--black);
  border-top-left-radius: 0.38rem;
  border-top-right-radius: 0.38rem;
  border-bottom: 0.19rem solid var(--text-color);
  font-style: italic;
}

/* Table header properties */
thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--black);
}

th {
  padding: 0.81rem;
}

/* tr th:first-child {
  position: sticky;
  inset-inline-start: 0;
} */

/* Table row properties */
tr:nth-of-type(even) {
  background-color: var(--bg-tbl-row-color);
}

/* Table cell properties */
td {
  padding: 0.81rem;
  text-align: center;
}

.left-align td {
  text-align: left;
}

/* Blockquote properties */
blockquote {
  padding: 0.06rem 1.25rem 0.06rem 0.13rem;
  background-color: var(--bg-bq-color);
  background-image: radial-gradient(var(--bg-bq-grad-color),
                                    var(--bg-bq-color));
  border-left: 0.25rem solid var(--text-color);
}

blockquote footer {
  margin-bottom: 1.1rem;
}

/* Font size properties for blockquote descendants */
blockquote p, blockquote li, blockquote footer, blockquote cite {
  font-size: 1.2rem;
}

/* Margin properties for blockquote descendants */
blockquote p, blockquote footer {
  margin-left: 0.94rem;
}

/* Properties for lists descended from description lists */
dl ul, dl ol {
  margin-left: 2.8rem;
}

/* Video properties */
video {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

/* Object properties */
object {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 100%;
}

/* Video embed properties */
.video-wrap {
  max-width: 100%;
  margin: 0 auto;
}

/* YouTube embed outer properties */
.video-container-youtube {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 1.88rem;
  height: 0;
  overflow: hidden;
}

/* YouTube embed inner properties */
.video-container-youtube iframe,
.video-container-youtube object,
.video-container-youtube embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Vimeo embed outer properties */
.video-container-vimeo {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

/* Vimeo embed inner properties */
.video-container-vimeo iframe,
.video-container-vimeo object,
.video-container-vimeo embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Audio properties */
audio {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

/* Form properties */
.form-elem {
  margin-bottom: 1.1rem;
}

.form {
  display: inline-block;
  margin: 0.44rem 0;
  padding: 0.63rem;
  background-color: var(--bg-form-color);
  border-radius: 0.38rem;
}

input {
  max-width: 100%;
}

/* Shadow class */
.shadow {
  box-shadow: 0 0 0.5rem #ffffff;
}

.shadow + figcaption {
  margin-top: 0.63rem;
}

/* Last child properties for details and indicators */
#main > details:last-child, #main > div.indicator:last-child {
  margin-bottom: 0.5rem;
}

/* Ready message properties */
#app-ready p {
    display: inline-block;
    margin: 1.1rem 0 0 0;
    padding: 0.38rem;
    background-color: white;
    border-radius: 0.38rem;
    color: black;
  }
  
  #app-status {
    color: red;
  }
  
  /* Exception message properties */
  #exc-msg {
    padding: 0.31rem;
    background-color: #ffcdd2;
    color: black;
  }
/*---------------------------------------------------------
5. Footer Styles
-------------------------------------------------------- */
/* Footer properties */
main + footer {
  background-color: var(--bg-ftr-color);
}

/* Footer separator properties */
#footer::before {
  margin: 0.94rem 0;
  content: '';
  position: absolute;
  left: 5%;
  width: 90%;
  height: 0.20rem;
  /* gradient line angle, 0% mark color, 33% mark color, 66% mark color */
  background: linear-gradient(
    130deg,
    var(--sep-s-color),
    var(--sep-m-color) 33%,
    var(--sep-e-color) 66%);
}

#footer {
  padding-bottom: 0.5rem;
}

/* Footer widget properties */
#footer-widgets {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
  margin-bottom: 1.5rem;
  padding-top: 2.5rem;
  color: var(--text-color);
  text-align: center;
}

#footer-widgets h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-decoration-line: underline;
  text-decoration-color: var(--hdg-wgt-dec-color);
  text-decoration-style: dotted;
  text-decoration-thickness: var(--hdg-wgt-dec-thk);
}

.footer-widget {
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: var(--bg-wgt-color);
  border-radius: 0.75rem;
  border: 0.2rem solid transparent;
  background: linear-gradient(to right,
                              var(--bg-wgt-color),
                              var(--bg-wgt-grad-color),
                              var(--bg-wgt-color))
                              padding-box,
              linear-gradient(to right,
                              var(--bd-wgt-grad-color-s),
                              var(--bd-wgt-grad-color-m),
                              var(--bd-wgt-grad-color-e))
                              border-box;
}

#footer-widgets > .footer-widget:last-child {
  margin-bottom: -0.5rem;
}

/* Powered By link properties */
#powered-by a {
  text-decoration-line: none;
  border-bottom: 0.19rem solid var(--lk-dec-color);
  /* apply-to-all duration easing-function */
  transition: all 0.25s linear;
  position: relative;
}

#powered-by a:before {
  content: "";
  display: block;
  width: 100%;
  height: 0.19rem;
  background-color: var(--text-color);
  position: absolute;
  left: 0;
  bottom: -0.19rem;
  transform-origin: left;
  transform: scale(0);
  /* duration easing-function */
  transition: 0.25s linear;
}
/*---------------------------------------------------------
6. Phone/Tablet Media Query
-------------------------------------------------------- */
@media screen and (max-width: 64rem) {
  /* || Header Styles */
  /* Title link properties */
  #title a:active {
    color: var(--lk-color);
  }

  /* || Body Styles */
  /* Active link properties */
  a:active {
    color: var(--lk-dec-color);
    text-decoration-style: solid;
  }

  /* Heading link properties */
  h1 a:active, h2 a:active, h3 a:active,
  h4 a:active, h5 a:active, h6 a:active {
    color: var(--lk-color);
  }

  /* || Main Styles */
  /* Main menu link properties */
  #main-menu a:active {
    color: var(--lk-color);
  }
}
/*---------------------------------------------------------
7. Phone Media Query
-------------------------------------------------------- */
@media screen and (max-width: 30rem) {
  /* || Header Styles */
  #body > header:first-child {
    background:
      radial-gradient(
        ellipse at top,
        var(--bg-hdr-grad-color),
        var(--bg-hdr-color)
      ),
      radial-gradient(
        ellipse at bottom,
        var(--bg-hdr-grad-color),
        var(--bg-hdr-color)
      );
  }

  /* Search and feed properties */
  #search-feed {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  /* Mobile main menu properties */
  #main-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    gap: 0;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    width: 100%;
    margin-bottom: -0rem;
    background-color: var(--bg-mbl-menu-color);
    text-align: center;
  }

  #main-menu .menu-item {
    margin: 0.5rem;
    font-size: 1.1rem;
  }

  #main-menu .menu-dot {
    display: none;
  }

  #main-menu a.active {
    font-weight: bold;
  }

  /* || Main Styles */
  /* Blockquote properties */
  blockquote {
    margin: 1rem 1.25rem;
  }
}

/*---------------------------------------------------------
8. Tablet/Desktop/Laptop Media Query
-------------------------------------------------------- */
@media screen and (min-width: 30rem) {
  /* || Header Styles */
  #body > header:first-child {
    background:
      radial-gradient(
        ellipse at left,
        var(--bg-hdr-grad-color),
        var(--bg-hdr-color)
      ),
      radial-gradient(
        ellipse at right,
        var(--bg-hdr-grad-color),
        var(--bg-hdr-color)
      );
  }

  /* Titles properties */
  #titles {
    text-align: left;
  }

  /* Menu item link properties */
  #main-menu a.active {
    border-bottom: 0.13rem solid var(--text-color);
    padding-bottom: 0.25rem;
  }

  /* Search and feed properties */
  #search-feed {
    text-align: right;
  }

  #search-feed span {
    font-size: 1rem;
  }

  /* || Footer Styles */
  /* Footer widget properties */
  .footer-widget {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 30rem;
  }
}

/*---------------------------------------------------------
9. Tablet Media Query
-------------------------------------------------------- */
@media screen and (min-width: 30rem) and (max-width: 64rem) {
  /* || Main Styles */
  /* Blockquote properties */
  blockquote {
    margin: 1rem 1.88rem;
  }
}

/*---------------------------------------------------------
10. Desktop/Laptop Media Query
-------------------------------------------------------- */
@media screen and (min-width: 64rem) {
  /* || Header Styles */
  /* Title link properties */
  #title a:hover {
    color: var(--lk-color);
  }

  /* Link hover properties */
  #search-feed a:hover {
    color: var(--text-color)
  }

  /* Menu item link properties */
  #main-menu a {
    position: relative;
  }

  #main-menu a::before {
    transition: all 0.2s ease-in-out;
    content: "";
    position: absolute;
    width: 100%;
    height: 0.13rem;
    bottom: -0.38rem;
    background-color: var(--lk-color);
    opacity: 1;
    visibility: hidden;
    transform: scaleX(0);
    right: 0;
    left: 0;
  }

  #main-menu a:hover {
    color: var(--lk-color);
  }

  #main-menu a:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }

  /* Disable hover animation for active menu page */
  #main-menu a.active:hover::before {
    visibility: hidden;
  }

  /* || Body Styles */
  /* Heading link properties */
  h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: var(--lk-color);
  }

  /* || Main Styles */
  /* Constrain and center specific elements */
  #main h1, #main h2, #main h3, #main h4, #main h5, #main h6, #main p,
  #main footer, #main div.code-block, #main ul, #main ol, #main dl,
  #main summary, #main form, #main div.indicator, #app-ready, .forms {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
  }

  #main ul, #main ol {
    max-width: 47.5rem;
  }

  /* Link hover properties */
  a:hover  {
    color: var(--lk-dec-color);
    text-decoration-style: solid;
  }

  #main h2 a:hover, #main h3 a:hover, #main h4 a:hover, #main h5 a:hover,
  #main h6 a:hover {
    text-decoration-line: none;
    background-color: var(--text-color);
    color: var(--bg-color);
  }

  /* Blockquote properties */
  blockquote {
    max-width: 45rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  blockquote p, blockquote footer {
    padding-left: 0.94rem;
  }

  /* Properties for lists descended from description lists */
  #main dl ul, #main dl ol {
    margin-left: 3.1rem;
  }

  /* || Footer Styles */
  /* Footer widget properties */
  #footer-widgets {
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: auto;
  }

  .footer-widget {
    margin-bottom: -0.5rem;
  }

  /* Powered By link properties */
  #powered-by a:hover {
    color: var(--text-color);
    background-color: transparent;
  }
  
  #powered-by a:hover:before {
    transform: scale(1);
  }
}