{% extends "base.html" %}

{% block content %}<p><a href="{{ artist.info_url }}">{{ artist.first_name }} {{ artist.last_name }}</a> was born in the year {{ artist.date_of_birth.year }} in {{ artist.country_of_origin }}.</p>{% if artist.description %}
          <details>
            <summary>Show/Hide Optional Artist Description</summary>
            <p>{{ artist.description|linebreaks }}</p>
          </details>{% endif %}
          <p>Available artwork:</p>
          <ul>{% for artwork in artist_artwork %}
            <li><a href="{{ artwork.slug }}/">{{ artwork.title }}</a></li>{% endfor %}
          </ul>{% endblock %}