{% extends "base.html" %}

{% block content %}<div id="artists">
            <h2>Artists</h2>
            <ul>{% for artist in artist_objs %}
              <li><a href="../{{ artist.slug }}/">{{ artist.first_name }} {{ artist.last_name }}</a></li>{% endfor %}
            </ul>
          </div>{% endblock %}