{% extends "base.html" %}

{% block content %}<p>Complete the form to recommend a piece of artwork for the collection.</p>
          <form action="" method="post">
            {% csrf_token %}{{ form.non_field_errors }}{% for field in form %}
            <div class="form-elem">
              {{ field.errors }}
              <label>{{ field.label }}:</label> {{ field }}
            </div>{% endfor %}
            <div class="form-elem">
              <input name="artwork-recommendation" type="submit" value="Submit">
            </div>
          </form>{% endblock %}