{% extends "base.html" %}

{% block content %}<div id="artwork">
            <h2>Artwork</h2>
            <ul>{% for artwork in artwork_objs %}
              <li><a href="../{{ artwork.artist.slug }}/{{ artwork.slug }}/">{{ artwork.title }}</a></li>{% endfor %}
            </ul>
            <p>To suggest a piece of artwork for the collection, leave a <a href="{% url 'art:artwork_rec' %}">recommendation</a>.</p>
          </div>{% endblock %}