{% extends "base.html" %}

{% block content %}<figure id="artwork">
            <img class="shadow" alt="{{ artwork.title }}" src="{{ MEDIA_URL }}{{ artwork.image }}" width="{{ artwork.image.width }}" height="{{ artwork.image.height }}" />
            <figcaption><a href="{{ artwork.info_url }}">{{ artwork.title }}</a> by <a href="../">{{ artist.first_name }} {{ artist.last_name }}</a> ({{ artwork.pub_date.year }})</figcaption>
          </figure>{% if artwork.description %}
          <details>
            <summary>Show/Hide Optional Artwork Description</summary>
            <p>{{ artwork.description|linebreaks }}</p>
          </details>{% endif %}{% endblock %}