{% extends "base.html" %}

{% block content %}<blockquote cite="https://www.goodreads.com/quotes/31333-it-is-good-to-love-many-things-for-therein-lies"><p>It is good to love many things, for therein lies the true strength, and whosoever loves much performs much, and can accomplish much, and what is done in love is well done.</p><footer>- Vincent van Gogh</footer></blockquote>
          <p>Artwork to explore:</p>
          <ul>
            {% for artwork in artwork_objs %}<li><a href="{{ artwork.artist.slug }}/{{ artwork.slug }}/">{{ artwork.title }}</a></li>{% endfor %}
          </ul>{% endblock %}