{% extends "base.html" %}

{% block content %}<p>Search by <strong>artist name</strong> or <strong>artwork title</strong>.</p>
          <form action="." method="get">
            <input name="q" type="text" placeholder="Search...">
            <!-- <input type="submit" value="{{ query|escape }}"/> -->
          </form>{% if query %}{% if results %}
          <ul>{% for obj in results %}{% if obj.first_name %}
            <li><a href="../{{ obj.slug }}/">{{ obj|escape }}</a></li>{% elif obj.title %}
            <li><a href="../{{ obj.artist.slug }}/{{ obj.slug }}/">{{ obj | escape }}</a></li>{% endif %}{% endfor %}
          </ul>{% else %}
          <p>Query returned no results.</p>{% endif %}{% endif %}{% endblock %}